{% extends 'base.html' %} 
{% block content %}


{% load static %}

{% load cloudinary %}


<section class="main-content">
    <div class="container">
      <div class="about">
        <div class="row">
          <div class="col-md-5">
            <div class="about-img">
              <img class="img-fluid" src="{% static 'images/fightfor.jpg' %}" alt="earth">
            </div>
          </div>
  
          <div class="col-md-7">
            <div class="about-content ms-2">
              <h2 class="about-text">Why Earth needs your help?</h2>
              <ul class="about-page">
              <li class="why-earth"> The place most of us call home, is under treat from human criviazation and the impact we have had on this beautiful planet. </li>
              <li class="why-earth">Earth provided us with all the natural resources to live a sustainable and balanced life only nurting what you need and giving back.</li>
              <li class="why-earth">our impact has had a SERIOUS effect on the climate which results in the artic being warm and polar ice caps melting, water levels incresing etc.</li>
              <li class="why-earth">We need to look towards reversering our impact before its too late.</li>
              </ul>
            </div>
          </div>
          <div class="col-md-5">
            <figure class="bg-light p-4 climate-quote"
            style="border-left: .35rem solid #5efc80; border-top: 1px solid rgb(2, 1, 1); border-right: 1px solid #eee; border-bottom: 1px solid #eee;">
            <i class="fas fa-quote-left fa-2x mb-4" style="color: #fcdb5e;"></i>
            <blockquote class="blockquote pb-2">
              <p>
                “Climate change is real. It is happening right now, it is the most urgent threat facing our entire species and we need to work collectively together and stop procrastinating.”
                  Leonardo Di Caprio, Actor & Environmentalist
              </p>
            </blockquote>
            <figcaption class="blockquote-footer mb-0">
              Dictionary Definition of Climate change <cite title="Source Title"><a
                  href="https://dictionary.cambridge.org/dictionary/english/climate-change">Cambridge Dictionary</a></cite>
            </figcaption>
          </figure>
          </div>
          <div class="col-md-7">
            <div class="more-about ms-2">
              <h3 class="about-text">Interesting Qoutes</h3>
              <ul class="about-page">
              <li class="fun-facts">“One thing leads to the other. Deforestation leads to climate change, which leads to ecosystem losses, which negatively impacts our livelihoods | its a vicious cycle.” 
                Gisele Bundchen, Supermodel & UN Goodwill Ambassador</li>

              <li class="fun-facts">“We dont have time to sit on our hands as our planet burns. For young people, climate change is bigger than election or re-election. Its life or death.”
               Alexandria Ocasio-Cortez, US Politician & Activist</li>

              <li class="fun-facts">“By polluting the oceans, not mitigating CO2 emissions and destroying our biodiversity, we are killing our planet. Let us face it, there is no planet B.”
               Emmanuel Macron, President of France</li>

              <li class="fun-facts">“I hold a vision of this blue green planet, safe and in balance. At the end of the Fossil Fuel Era, we are emerging to a new reality. We are ready to make the next leap | as momentous as abolishing slavery or giving women the vote.”
                Elizabeth May, Leader of Green Party of Canada</li>

              <li class="fun-facts">“Climate change knows no borders. It will not stop before the Pacific Islands and the whole of the international community here has to shoulder a responsibility to bring about sustainable development.”
                Angela Merkel, Chancellor of Germany</li>

              <li class="fun-facts">We are the first generation to feel the effect of climate change and the last generation who can do something about it.”
               Barack Obama, Former US President</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  {% endblock %}